.dynamicContainer {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden; }
  .dynamicContainer .tabWrapContainer {
    text-align: center;
    min-height: 400px;
    width: 200px;
    margin-right: 20px;
    display: inline-block;
    background: white; }
    .dynamicContainer .tabWrapContainer .tabTitleWrap {
      height: 60px;
      color: #ffff;
      font-size: 20px;
      line-height: 60px;
      background-color: #cc0715; }
    .dynamicContainer .tabWrapContainer .tabMinTitleWrap {
      padding: 13px 0px;
      font-size: 16px;
      color: #333;
      position: relative; }
    .dynamicContainer .tabWrapContainer .tabMinTitleWrap:after {
      position: absolute;
      content: "";
      bottom: 0px;
      width: 100%;
      left: 0px;
      border-bottom: 1px solid #efefef; }
    .dynamicContainer .tabWrapContainer .tabMinTitleWrap.active {
      background-color: #ededed;
      position: relative; }
    .dynamicContainer .tabWrapContainer .tabMinTitleWrap.active:before {
      position: absolute;
      content: "";
      width: 2px;
      background: #cc0715;
      height: 100%;
      left: 0px;
      top: 0px; }
    .dynamicContainer .tabWrapContainer .tabMinTitleWrap:hover {
      background-color: #ededed;
      position: relative;
      cursor: pointer; }
    .dynamicContainer .tabWrapContainer .tabMinTitleWrap:hover:before {
      position: absolute;
      content: "";
      width: 2px;
      background: #cc0715;
      height: 100%;
      left: 0px;
      top: 0px; }
  .dynamicContainer .tabWrapContent {
    width: calc(100% - 220px);
    display: inline-block;
    min-height: 500px;
    padding: 18px 50px 45px 50px;
    float: right;
    background: white; }
    .dynamicContainer .tabWrapContent .list {
      color: #666666;
      font-size: 14px;
      position: relative;
      overflow: hidden;
      padding: 27px 0px 13px 16px;
      border-bottom: 1px dashed #e6e6e6;
      display: inline-block;
      width: 100%; }
      .dynamicContainer .tabWrapContent .list .listLeft {
        width: calc(100% - 100px);
        display: inline-block; }
      .dynamicContainer .tabWrapContent .list .listRight {
        display: inline-block;
        float: right; }
    .dynamicContainer .tabWrapContent .list:before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      left: 0px;
      top: 35px;
      background: #b6b6b6; }
    .dynamicContainer .tabWrapContent .list:hover {
      cursor: pointer; }
      .dynamicContainer .tabWrapContent .list:hover .listLeft {
        color: #cc0715; }
  .dynamicContainer .tabWrapContentDetail {
    width: calc(100% - 220px);
    display: inline-block;
    min-height: 500px;
    padding: 45px 50px;
    float: right;
    background: white; }
    .dynamicContainer .tabWrapContentDetail .tableWrap {
      border-top: 1px solid #e6e6e6; }
      .dynamicContainer .tabWrapContentDetail .tableWrap .lineWrap {
        border-left: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        overflow: hidden;
        width: 100%;
        vertical-align: top;
        display: box;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-flex-direction: row;
        -moz-flex-direction: row;
        -mx-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row; }
        .dynamicContainer .tabWrapContentDetail .tableWrap .lineWrap .lineTitle {
          float: left;
          display: inline-block;
          background-color: #f7fbff;
          border-right: 1px solid #e6e6e6;
          font-size: 14px;
          width: 125px;
          padding: 14px 0px 14px 16px; }
        .dynamicContainer .tabWrapContentDetail .tableWrap .lineWrap .lineContent {
          float: left;
          font-size: 14px;
          display: inline-block;
          background-color: #fff;
          border-right: 1px solid #e6e6e6;
          width: calc(100% - 125px);
          padding: 14px 0px 14px 16px; }
        .dynamicContainer .tabWrapContentDetail .tableWrap .lineWrap .lineHeightContent {
          line-height: 24px; }

/*# sourceMappingURL=dynamic.css.map */
